.section__subtitle1 {
    display: block;
    font-size: var(--normal-font-size);
    margin-bottom: 2rem;
    padding: 0 15rem;
    text-align:center;

  }
.about__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 1rem;
}

.about__img{
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about__img:hover{
    transition: .1s ease-in-out;
}

.about__info{
    grid-template-columns: repeat(3, 140px);
    gap: 0.5rem;
}

.about__box{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about__box:hover{
    transition: .1s ease-in-out;
    
}

.about__icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about__title{
    font-size: var(--small-font-size);

}

.about__subtitle{
    font-size: var(--tiny-font-size);

}

.about__description{
    padding: 2rem 15rem 0;
    margin-bottom: var(--mb-2);
    text-align: justify;
}


/*BREAK POINTS*/

/*For Large DEvices*/

@media screen and (max-width: 1025px) {
    .about__container{
      grid-template-columns: 1fr;
      row-gap: 2.5rem;
    }

    .about_img{
        width: 220px;
    }

    .about__box{
        padding: 0.75rem 0.5rem;
    }

    .about__data{
        text-align: center;
    }
    .about__info{
        justify-content: center;
    }

    .about__description{
        padding: 2rem 8.5rem;
    }

    .section__subtitle1 {
        padding: 0 8.5rem 0;
        text-align:center;
    
      }
  
  }
  
  @media screen and (max-width: 576px ) {
    .section__subtitle1 {
        padding: 0 2rem 0;
        text-align:center;
    
      }
  
    .about__info{
        grid-template-columns: repeat(3, 1fr);
    }

    .about__description{
        padding: 1.5rem 2rem 0;
    }
  }
  /*For Small Devices*/
  
  @media screen and (max-width: 350px) {

    .about__info{
        grid-template-columns: repeat(2, 1fr);
    }
   
  
  }
  