.enfoques__subtitle {
    display: flex;
    justify-content: center;
    margin: var(--mb-2-5) 15rem;
    text-align: center;
  }

.description__subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.enfoques__container{
    grid-template-columns: repeat(2, 440px);
    column-gap: 1.25rem;
    justify-content: center;
}

.enfoques__content{
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.enfoques__content:hover{
    transition: .1s ease-in-out;
    box-shadow: var(--morado) 5px 25px 45px;
    transform: scale(1.02);
    transition: .2s;
}

.enfoques__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.enfoques__box{
    display: flex;
    justify-content: center;
    column-gap: .5rem;
}

.enfoques__group{
    display: grid;
    align-items: flex-start;
    row-gap: 1.25rem;
}

.enfoques__data{
    display: flex;
    column-gap: 0.25rem;

}

.enfoques .bx-badge-check{
    font-size: 1rem;
    color: var(--title-color);
}

.enfoques__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}


.enfoques__level{
    font-size: var(--tiny-font-size);
}

/*BREAK POINTS*/

/*For Large DEvices*/

@media screen and (max-width: 1023px) {


    .enfoques__subtitle{
        max-width: initial;
        margin: var(--mb-1-5);
      }

   .enfoques__container{
    grid-template-columns: 1fr;
    row-gap: 2rem;
   }
    
  
  }
  
  @media screen and (max-width: 576px ) {
    .enfoques__container{
        grid-template-columns: 1fr;
    }

    .enfoques__content{
        padding: 1.5rem;
    }
  
  }
  /*For Small DEvices*/
  
  @media screen and (max-width: 350px) {
   
    .enfoques__box{
        column-gap: 1.25rem;
    }

    .enfoques__name{
        font-size: var(--small-font-size);
    }
  }
  
  