/*Google Fonts*/
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


:root {      
  --header-height: 3rem;

  /*Colores*/

  /*Colores tipo HSL(hue, saturation, lightness*/

  --title-color: #242424;
  --title-color-dark: #000000;
  --text-color: #434343;
  --body-color: #fafafa;
  --container-color: #ffffff;
  --morado: #d693d4;
/*Fuentes y tipografia*/

--body-font: "Poppins", sans-serif;

/*escala .5rem= 8px | 1 rem= 16px...*/

--big-font-size: 3.75rem;
--h1-font-size: 2.25rem;
--h2-font-size: 1.5em;
--h3-font-size: 1.25rem;
--normal-font-size: 1rem;
--small-font-size: .875rem;
--smaller-font-size: .813rem;
--tiny-font-size: .6rem;

/*Font Weight*/

--font-normal: 400;
--font-medium: 500;
--font-semi-bold: 600;

/*Margenes Bottom...*/
/*escala .5rem= 8px | 1 rem= 16px...*/

--mb-0-25: 0.25rem;
--mb-0-5: 0.5rem;
--mb-0-75: 0.75rem;
--mb-1: 1rem;
--mb-1-5: 1.5rem;
--mb-2: 2rem;
--mb-2-5: 2.5rem;
--mb-3: 3rem;


/*Z Indexx*/

--z-tooltip: 10;
--z-fixed: 100;
--z-modal: 1000;

}

/*Responsive Typography*/

@media screen and (max-width: 992px) {

  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25em;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    
  }
}

/*BASE*/

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

button,
input,
textarea{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}


h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);

}

ul {
  list-style: none;

}

a{
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*Clases de CSS Reutilizables*/

.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);

}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section__title, .section__subtitle {
  text-align: center;

}

/*Layout*/

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;

}


.grid {
  display: grid;
  gap: 0.5rem;
}

/*Botoness*/

.button{
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--title-color-dark);

}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex{
  display: inline-flex;
  align-items: center;
}

/*BREAK POINTS*/

/*For Large DEvices*/

@media screen and (max-width: 992px) {
  .container{
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

}
/*For Medium DEvices*/

@media screen and (max-width: 768px) {
  body{
    margin: 0 0 var(--header-height) 0;
  }
  .section{
    padding: 2rem 0 4rem;
  }

  .section__subtitle{
    margin-bottom: var(--mb-3);
  }
}

/*For Small DEvices*/

@media screen and (max-width: 350px) {
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

}

/*POPUP*/
.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: var(--z-modal);
}

.popup-inner {
  background-color: var(--container-color);
  border-radius: 0.75rem;
  padding: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  width: 500px; /* Ajusta el ancho del pop-up según tus necesidades */
  max-height: 90%;
  overflow-y: auto;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--morado);
}

.close-btn:hover{
  transition: all 0.3s;
  transform: scale(1.25);
}

/* Estilos responsivos */
@media (max-width: 600px) {
  .popup-inner {
    width: 100%;
    max-height: 90%;
    max-width: 90%;
    font-size: var(--small-font-size);
  }

  .close-btn {
    font-size: 1.25rem;
  }
}
